.bordesAzul {
  border: solid 2px blue; }

.bordesRojo {
  border: solid 2px red; }

.bordesVerde {
  border: solid 2px lime; }

body {
  background-color: #182D30;
  font-family: 'Raleway', sans-serif;
  color: whitesmoke; }

h3 {
  color: #F1523F; }

ul {
  list-style: none; }

ul li {
  margin: 0;
  padding: 0; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }

header .display-1 {
  margin-top: 2rem;
  color: #DB2C15;
  font-weight: 500;
  font-size: 2rem; }

header .display-5 {
  margin-top: 2rem;
  font-weight: 300;
  font-size: 1rem; }

.col-2 {
  height: 3rem; }

.arcoiris {
  opacity: 0.8; }

.display-4 {
  color: #F1523F;
  font-weight: 700;
  font-size: 3rem; }

@media (min-width: 576px) {
  .display-1 {
    color: #DB2C15;
    font-weight: 900;
    font-size: 2rem; } }
@media (min-width: 768px) {
  header .display-1 {
    font-weight: 900;
    font-size: 3rem; }

  header .display-5 {
    font-weight: 500;
    font-size: 2rem; } }
@media (min-width: 992px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: right; }

  header img {
    max-width: 10%; }

  header .display-1 {
    font-weight: 900;
    font-size: 2.5rem; }

  header .display-5 {
    font-weight: 500;
    font-size: 1.5rem; } }
@media (min-width: 1200px) {
  header img {
    max-width: 20%; } }
.contenidoPrincipal .contacto .lead:nth-child(2) a {
  border: none;
  font-size: 1.5rem;
  color: #F1523F;
  -webkit-animation-name: telefono;
          animation-name: telefono;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate-reverse;
          animation-direction: alternate-reverse; }

.contenidoPrincipal .contacto .lead:nth-child(2) p {
  font-size: 1.5rem;
  color: #F1523F;
  -webkit-animation-name: telefono;
          animation-name: telefono;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate-reverse;
          animation-direction: alternate-reverse; }

header img {
  -webkit-animation-name: logoRotacion;
          animation-name: logoRotacion;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate-reverse;
          animation-direction: alternate-reverse; }

@-webkit-keyframes logoRotacion {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn); }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }

@keyframes logoRotacion {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn); }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }
@-webkit-keyframes telefono {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); } }
@keyframes telefono {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); } }
.contenidoPrincipal .contacto {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.contenidoPrincipal .contacto .display-4 {
  color: #F1523F;
  font-weight: 700;
  font-size: 3rem; }

.contenidoPrincipal .contacto h2 {
  color: #F1523F;
  font-weight: 500;
  font-size: 2rem; }

.contenidoPrincipal .contacto h3 {
  color: #F1523F;
  font-weight: 500;
  font-size: 1rem;
  color: white; }

.contenidoPrincipal .contacto p {
  color: #F1523F;
  font-weight: 300;
  font-size: 1rem;
  color: white; }

@media (min-width: 992px) {
  .contenidoPrincipal .contacto h2 {
    color: #F1523F;
    font-weight: 500;
    font-size: 2.5rem; }

  .contenidoPrincipal .contacto h3 {
    color: #F1523F;
    font-weight: 500;
    font-size: 1.5rem;
    color: white; }

  .contenidoPrincipal .contacto p {
    color: #F1523F;
    font-weight: 300;
    font-size: 1.5rem;
    color: white; } }
@media (min-width: 1200px) {
  .contenidoPrincipal .contacto {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: right;
        -ms-flex-align: right;
            align-items: right; } }
.contenidoPrincipal .experiencia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }

.contenidoPrincipal .experiencia .display-4 {
  color: #F1523F;
  font-weight: 700;
  font-size: 2.8rem; }

.contenidoPrincipal .experiencia h2 {
  color: #F1523F;
  font-weight: 500;
  font-size: 2rem; }

.contenidoPrincipal .experiencia h3 {
  color: #F1523F;
  font-weight: 500;
  font-size: 1rem;
  color: #F1523F; }

.contenidoPrincipal .experiencia h4 {
  color: #F1523F;
  font-weight: lighter;
  font-size: 0.8rem;
  color: white; }

.contenidoPrincipal .experiencia ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: solid 1px #F1523F; }

.contenidoPrincipal .experiencia ul li {
  margin: 1rem 0 0 0;
  padding: 0;
  color: #F1523F;
  font-weight: lighter;
  font-size: 1rem;
  color: white; }

@media (min-width: 768px) {
  .contenidoPrincipal .experiencia h2 {
    color: #F1523F;
    font-weight: 500;
    font-size: 2.5rem; }

  .contenidoPrincipal .experiencia h3 {
    color: #F1523F;
    font-weight: 500;
    font-size: 1.5rem;
    color: #F1523F; }

  .contenidoPrincipal .experiencia h4 {
    color: #F1523F;
    font-weight: lighter;
    font-size: 1.2rem;
    color: white; }

  .contenidoPrincipal .experiencia ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-top: solid 1px #F1523F; }

  .contenidoPrincipal .experiencia ul li {
    margin: 1rem 0 0 0;
    padding: 0;
    color: #F1523F;
    font-weight: lighter;
    font-size: 1rem;
    color: white; } }
@media (min-width: 1200px) {
  .contenidoPrincipal .experiencia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: right; }

  .contenidoPrincipal .experiencia ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-top: solid 1px #F1523F; } }
.contenidoPrincipal .skils {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #344649; }

.contenidoPrincipal .skils ul {
  margin: 0;
  padding: 0; }

.contenidoPrincipal .skils ul li {
  margin: 1rem 0 0 0;
  padding: 0;
  color: #F1523F;
  font-weight: lighter;
  font-size: 1rem;
  color: white; }

@media (min-width: 1200px) {
  .contenidoPrincipal .skils {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: right;
    background-color: #344649; } }
.contenidoPrincipal .tecnologias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #263A3C; }

.contenidoPrincipal .tecnologias ul {
  margin: 0;
  padding: 0; }

.contenidoPrincipal .tecnologias ul li {
  margin: 1rem 0 0 0;
  padding: 0;
  color: #F1523F;
  font-weight: lighter;
  font-size: 1rem;
  color: white; }

@media (min-width: 1200px) {
  .contenidoPrincipal .tecnologias {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: right; } }

/*# sourceMappingURL=estilos.css.map */