$tituloPrimario:#F1523F;
$tituloSecundario:#DB2C15;

// estilos generales
body{
    background-color: #182D30;
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
}

h3{
    color: $tituloPrimario;
}

ul{
    list-style: none;
}
ul li{
    font-size: 1rem;
    margin-top: 10px;
    
}

.col-2{
    height: 3rem;
}

.arcoiris{
    opacity: 0.8;
}

.display-1{
    color: $tituloSecundario;
    font-weight: 900;
}

.display-4{
    color: $tituloPrimario;
    font-weight: 700;
    font-size: 3rem;
}

.contenidoPrincipal .contacto .lead:nth-child(2) a:active{
    border: none;
}

.contenidoPrincipal .contacto .lead:nth-child(2) a:focus{
    border: none;
}
.contenidoPrincipal .contacto .lead:nth-child(2) a:hover{
    border: none;
}

.contenidoPrincipal .contacto .lead:nth-child(2) a {
    border: none;
    font-size: 2rem;
    color: $tituloPrimario;
    animation-name: telefono;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}
.contenidoPrincipal .contacto .lead:nth-child(2) p {
    font-size: 2rem;
    color: $tituloPrimario;
    animation-name: telefono;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}

// animaciones

header img{
    animation-name: logoRotacion;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}

@keyframes logoRotacion{
    0%{transform: rotate(0)}
    50%{transform: rotate(1turn)}
    100%{transform: rotate(0)}
}

@keyframes telefono{
    0%{transform: scale(0.9)}
    50%{transform: scale(1.1)}
    100%{transform: scale(0.9)}
}
