.bordesAzul {
    border: solid 2px blue;
}

.bordesRojo {
    border: solid 2px red;
}

.bordesVerde {
    border: solid 2px lime;
}

$tituloPrimario:#F1523F;
$tituloSecundario:#DB2C15;
$gama1:#213538;
$gama2:#263A3C;
$gama3:#2F4245;
$gama4:#344649;
$gama5:#3D4F51;
$gama6:#415355;
// estilos generales
body {
    background-color: #182D30;
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
}

h3 {
    color: $tituloPrimario;
}

ul {
    list-style: none;
}

ul li {
    margin: 0;
    padding: 0;
}

// propietarios
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header .display-1 {
    margin-top: 2rem;
    color: $tituloSecundario;
    font-weight: 500;
    font-size: 2rem;
}

header .display-5 {
    margin-top: 2rem;
    font-weight: 300;
    font-size: 1rem;
}

.col-2 {
    height: 3rem;
}

.arcoiris {
    opacity: 0.8;
}

.display-4 {
    color: $tituloPrimario;
    font-weight: 700;
    font-size: 3rem;
}

//estilos header
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .display-1 {
        color: $tituloSecundario;
        font-weight: 900;
        font-size: 2rem;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    header .display-1 {
        font-weight: 900;
        font-size: 3rem;
    }
    header .display-5 {
        font-weight: 500;
        font-size: 2rem;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: right;
    }
    header img {
        max-width: 10%;
    }
    header .display-1 {
        font-weight: 900;
        font-size: 2.5rem;
    }
    header .display-5 {
        font-weight: 500;
        font-size: 1.5rem;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    header img {
        max-width: 20%;
    }
}

//estilos contenidoPrincipal
//contacto
.contenidoPrincipal .contacto .lead:nth-child(2) a {
    border: none;
    font-size: 1.5rem;
    color: $tituloPrimario;
    animation-name: telefono;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}

.contenidoPrincipal .contacto .lead:nth-child(2) p {
    font-size: 1.5rem;
    color: $tituloPrimario;
    animation-name: telefono;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}

// animaciones
header img {
    animation-name: logoRotacion;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}

@keyframes logoRotacion {
    0% {
        transform: rotate(0)
    }
    50% {
        transform: rotate(1turn)
    }
    100% {
        transform: rotate(0)
    }
}

@keyframes telefono {
    0% {
        transform: scale(0.9)
    }
    50% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(0.9)
    }
}

.contenidoPrincipal .contacto {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenidoPrincipal .contacto .display-4 {
    color: $tituloPrimario;
    font-weight: 700;
    font-size: 3rem;
}

.contenidoPrincipal .contacto h2 {
    color: $tituloPrimario;
    font-weight: 500;
    font-size: 2rem;
}

.contenidoPrincipal .contacto h3 {
    color: $tituloPrimario;
    font-weight: 500;
    font-size: 1rem;
    color: white;
}

.contenidoPrincipal .contacto p {
    color: $tituloPrimario;
    font-weight: 300;
    font-size: 1rem;
    color: white;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .contenidoPrincipal .contacto h2 {
        color: $tituloPrimario;
        font-weight: 500;
        font-size: 2.5rem;
    }
    .contenidoPrincipal .contacto h3 {
        color: $tituloPrimario;
        font-weight: 500;
        font-size: 1.5rem;
        color: white;
    }
    .contenidoPrincipal .contacto p {
        color: $tituloPrimario;
        font-weight: 300;
        font-size: 1.5rem;
        color: white;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .contenidoPrincipal .contacto {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: right;
    }
}

//estilos contenidoPrincipal
//experiencia
.contenidoPrincipal .experiencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenidoPrincipal .experiencia .display-4 {
    color: $tituloPrimario;
    font-weight: 700;
    font-size: 2.8rem;
}

.contenidoPrincipal .experiencia h2 {
    color: $tituloPrimario;
    font-weight: 500;
    font-size: 2rem;
}

.contenidoPrincipal .experiencia h3 {
    color: $tituloPrimario;
    font-weight: 500;
    font-size: 1rem;
    color: $tituloPrimario;
}

.contenidoPrincipal .experiencia h4 {
    color: $tituloPrimario;
    font-weight: lighter;
    font-size: 0.8rem;
    color: white;
}

.contenidoPrincipal .experiencia ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border-top: solid 1px $tituloPrimario;
}

.contenidoPrincipal .experiencia ul li {
    margin: 1rem 0 0 0;
    padding: 0;
    color: $tituloPrimario;
    font-weight: lighter;
    font-size: 1rem;
    color: white;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .contenidoPrincipal .experiencia h2 {
        color: $tituloPrimario;
        font-weight: 500;
        font-size: 2.5rem;
    }
    .contenidoPrincipal .experiencia h3 {
        color: $tituloPrimario;
        font-weight: 500;
        font-size: 1.5rem;
        color: $tituloPrimario;
    }
    .contenidoPrincipal .experiencia h4 {
        color: $tituloPrimario;
        font-weight: lighter;
        font-size: 1.2rem;
        color: white;
    }
    .contenidoPrincipal .experiencia ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        border-top: solid 1px $tituloPrimario;
    }
    .contenidoPrincipal .experiencia ul li {
        margin: 1rem 0 0 0;
        padding: 0;
        color: $tituloPrimario;
        font-weight: lighter;
        font-size: 1rem;
        color: white;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .contenidoPrincipal .experiencia {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: right;
    }
    .contenidoPrincipal .experiencia ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        border-top: solid 1px $tituloPrimario;
    }
}

//estilos contenidoPrincipal
//skills
.contenidoPrincipal .skils {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $gama4;
}

.contenidoPrincipal .skils ul {
    margin: 0;
    padding: 0;
}

.contenidoPrincipal .skils ul li {
    margin: 1rem 0 0 0;
    padding: 0;
    color: $tituloPrimario;
    font-weight: lighter;
    font-size: 1rem;
    color: white;
} // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .contenidoPrincipal .skils {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: right;
        background-color: $gama4;
    }
}

//estilos contenidoPrincipal
//tecnologia

.contenidoPrincipal .tecnologias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $gama2;
}

.contenidoPrincipal .tecnologias ul {
    margin: 0;
    padding: 0;
}

.contenidoPrincipal .tecnologias ul li {
    margin: 1rem 0 0 0;
    padding: 0;
    color: $tituloPrimario;
    font-weight: lighter;
    font-size: 1rem;
    color: white;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .contenidoPrincipal .tecnologias{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: right;
    }
}